footer {
    position:relative;
    right:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:black;
    color: white;
    text-align: center;
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-top: 10px;
}