<img class="home" src="assets/images/hobby.png" width="100%" height="auto">
<p class="text">
    All through our life, we are always busy with work. When it comes to improving your mental health, there are few better remedies than picking up a healthy hobby. And, to be truthful, most of the time we are burdened with what we do; this is, perhaps, because we have to do it even if we don’t take delight in doing it. Having a hobby to focus on forces us to take a break from stressful activities. Such work helps us earn our bread. That gives us financial support but for which we would not be able to sustain. Without a reason to take a break, we may unwittingly overwork ourselves to the point of exhaustion. It gives us something fun to do during our leisure time and affords us the opportunity to learn new skills. This leisure-time work, which we do not for living but for life, is called a hobby.

        Such hobbies include collecting pens, and antiquities, fiddling, just looking at the sky, and even killing flies. And in the present-day too, almost every person, great or common, has his/her hobbies. The world is full of wonderful, exciting activities that we can explore and adopt as our own. For example, some like to collect stamps, some books, some other pens, and so on. Not only collecting things explain the hobby very much; there are other activities too. Of course, all of us are unique and, therefore, our interests and hobbies vary. For instance, we see that gardening, photography, painting, singing, reading, writing all these have been found to be taken as hobbies by many people. Every person, indeed, choose his/her own hobby according to the time available to him/her, his/her peculiar temperaments, and creative impulse.
        
        The importance of hobbies needs no mentioning. Hobbies provide distractions, challenge the brain, and help stave off the boredom associated with the worsening of many mental health issues. It is our hobbies that best explain what our inner beings are like. The best way to cultivate a new hobby is to try something new. Man’s compulsory work establishes him, but what expresses and nourishes him is his hobby. Only in hobbies can he exert the full strength of his creativity with full freedom. It makes him curious and satisfied at the same time.</p>

<p class="text">Therefore, we can say that a hobby takes a man through the exercises of how to work without being worked by; how to keep away from selfishness. Hobbies, thought of in this point of view, have undoubtedly a magic touch with which they enliven us both internally and externally. Moreover, hobbies save us from being involved in any illegal or harmful or meaningless activities which could easily entice us to take the opportunity of our leisure time.

    The selection of hobbies, however, poses some responsibilities on us. Having a hobby that we enjoy brings us joy and enriches our lives. That is, before selecting any hobby, we have to be certain that it in no way harms or irritates others. And what is more, we must check that hobbies do not consume up all our time and make our valuable work-hours futile. We are very fortunate to have so many different options out there today. It is sometimes said that hobbies are luxuries of the rich. But that is not true. Every man–poor or rich-can has a hobby that suits him.
    
    Hobbies are indeed essential in our life. In this developing country of ours, it would be prudent of us to select such hobbies that could help our societies advance or in some way or other introduce our country to the other parts of the world. Keeping these objectives in mind, we could choose such hobbies as working for the eradication of illiteracy, gardening, photography, and others. Rabindranath said a man should have some hobby whatsoever. He was right. The only hobby makes us work without leaving us tired. Hobby refreshes us, entertains our mind, and enhances and sustains our creativity.

</p>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <a href="http://localhost:4200/dance">
        <img src="assets/images/d1.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;"><a href="http://localhost:4200/dance" style="text-decoration: none;">DANCE</a></h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <a href="http://localhost:4200/meditation">
        <img src="assets/images/m2.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;"><a href="http://localhost:4200/meditation" style="text-decoration: none;">MEDITATION</a></h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <a href="http://localhost:4200/cooking">
        <img src="assets/images/c1.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;"><a href="http://localhost:4200/cooking" style="text-decoration: none;">COOKING</a></h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <a href="http://localhost:4200/travelling">
        <img src="assets/images/travel3.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;"><a href="http://localhost:4200/travelling" style="text-decoration: none;">TRAVELLING</a></h5>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <a href="http://localhost:4200/music">
          <img src="assets/images/m1.jpg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;"><a href="http://localhost:4200/music" style="text-decoration: none;">MUSIC</a></h5>
          </div>
        </div>
      </div>
  </div>



